<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Sitio de Productos</h1>
    </header>
    <main>
        {{{body}}} <!-- Aquí se renderizarán las vistas -->
    </main>
    <footer>
        <p>© 2024 Mi Empresa</p>
    </footer>
</body>
</html>
