<h1>Carritos</h1>
<ul>
    {{#each carts}}
    <li>
        <h2>Carrito ID: {{this._id}}</h2>
        <ul>
            {{#each this.products}}
            <li>Producto ID: {{this.product}} | Cantidad: {{this.quantity}}</li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>
