<h1>Iniciar Sesión</h1>
<form action="/sessions/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    
    <button type="submit">Ingresar</button>
</form>
<h1>
    <a href="/sessions/github">Ingresar con Github</a>
</h1>
<a href="/sessions/viewregister">No tienes cuenta? Regístrate</a>