
<h1>Productos en tiempo real</h1>

<ul id="products-list">
    <!-- productos se agregan dinamicamente -->
</ul>

<!-- formulario para agregar producto -->
<h3>Agregar un nuevo producto</h3>
<form id="add-product-form">
    <input type="text" id="product-title" placeholder="Título" required>
    <input type="number" id="product-price" placeholder="Precio" required>
    <button type="submit">Agregar Producto</button>
</form>
