<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en tiempo real</title>
</head>
<body>
    <h1>Productos en tiempo real</h1>

    <ul id="products-list">
        <!-- productos se agregan dinamicamente -->
    </ul>

    <!-- formulario para agregar producto -->
    <h3>Agregar un nuevo producto</h3>
    <form id="add-product-form">
        <input type="text" id="product-title" placeholder="Título" required>
        <input type="number" id="product-price" placeholder="Precio" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io(); 
        const productsList = document.getElementById('products-list');
        const form = document.getElementById('add-product-form');
        const titleInput = document.getElementById('product-title');
        const priceInput = document.getElementById('product-price');

        
        socket.on('updateProducts', (products) => {
            productsList.innerHTML = ''; 
            products.forEach(product => {
                const li = document.createElement('li');
                li.textContent = `${product.title} - $${product.price}`;
                productsList.appendChild(li);
            });
        });

        // Enviar producto al servidor
        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const title = titleInput.value;
            const price = priceInput.value;

            
            socket.emit('addProduct', { title, price });

            
            titleInput.value = '';
            priceInput.value = '';
        });
    </script>
</body>
</html>
